.title {
    color:white;
    font-size: 7rem;
    text-align: start;
    margin: 0;
    padding: 0;
    user-select: none;
}
.mainButton {
    font:inherit;
    font-size: 3rem;
    width: 7em;
    color:rgb(15, 15, 15);
    background: linear-gradient(to left,#f9293e,#ffd08b);
    border: none;
    cursor: pointer;
    border-radius: 100vw;
}

.wrapper {
    grid-area: 2/2;
    font-family: inherit;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.createAccountLink {
    font-family: monospace;
    place-self: center;
    margin:2em
}