.container {
    margin-top: 1%;
    backdrop-filter: blur(5em);
}

.navbar {
	display: flex;
    align-self: center;
    height: 50px;
	width: 100%;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.559);
	border-radius: 100vh;

}

.list {
	display: flex;
    align-items: center;
	justify-content: flex-end;
	
    width: 100%;
	padding: 0;
	margin: 0;
	gap: 150px;
    list-style: none;

}


.navItem {
    align-self: center;

    color: white;
    border: none;

    font-size: 1.25em;
    letter-spacing: 0.1em;
    text-decoration: none;

    
    cursor: pointer;

}

