.navbar {
	display: flex;

    height: 60px;
	width: 100%;

    background-color: #101010;
	box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.582);
	border-radius: 0 0 2px 2px;

}

.list {
	display: flex;
    align-items: center;
	justify-content: flex-end;
	
    width: 100%;
	padding: 0;
	margin: 0;
	
    list-style: none;

}


.navItem {
    align-self: center;
    color: white;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.15em;
    margin-inline: 0px;
    padding-inline: 3rem;
    text-decoration: none;
    
    cursor: pointer;

}

