.title {
    display:flex;
    width: min-content;
    height: min-content;
    padding: 0;
    margin: 0;
    color:white;

    align-self: center;

    font-size: 6rem;
    word-spacing: 4em;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    
    user-select: none;
}

.buttonExpanded {
    transition: all 1s ease;
    filter: blur(5px);
    scale: 0.5;
    opacity: 0;
}
